.nav{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

li{
  color: white;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}